@charset "utf-8";
/* 공통 모듈 CSS - common.css */

/* 전체 글자 크기 root 셋팅 */
html{
    font-size: 10px;
    text-align: center;
}

body{
    background: url("../img/main-bg.jpg");
}


/*********** header ***********/
#top{
    border-bottom: 1px solid;
}

.top{
    /* 임시 높이값 */
    height: 90px;
    display: flex;
}

.logo{
    margin: 12px;
}

.lgtxt{
    text-align: center;
    width: 230px;
    margin-top: 7.6px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Caveat', cursive;
}

.top .mnbtn{
    width: 45px;
    height: 45px;
    margin-top: 12.5px;
    margin-left: auto;
    margin-right: 30px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0);
}

.top .mnbtn::before{
    content: '≡';
    display: block;
    font-size: 65px;
}
/*********** header ***********/


/*********** footer ***********/
#info{
    background-color: black;
    color: white
}

.info{
    display: flex;
    text-align: initial;
    bottom: 0;
    /* 임시 높이값 */
    height: 400px;
}


.email, .help{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.help{
    text-align: right;
    border-left: 2px solid rgb(214, 214, 214);
    box-sizing: border-box;
}

.ftlg{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.ex{
    padding: 20px 0 8px;
}

.ver{
    margin-top: auto;
    padding: 12px 15px;
    font-size: 15px;
    font-family: 'Cormorant', serif;
}
/*********** footer ***********/