@charset "utf-8";
/* 공통 모듈 CSS - common.css */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Cormorant:wght@300&family=Nunito&display=swap');
/* font-family: 'Caveat', cursive;  글씨*/
/* font-family: 'Cormorant', serif; 얇고 간단*/
/* font-family: 'Nunito', sans-serif; 기본*/

/* 전체 글자 크기 root 셋팅 */
html{
    font-size: 10px;
    text-align: center;
    user-select: none;
}

body{
    background: url("../img/main-bg.jpg");
}

/*********** scrollber ***********/
/* 스크롤바 디자인 클래스 */
/* -webkit- 벤터사명(크롬, 사파리) 접두어
(참고 : -ms-(ie), -o-(오페라), -moz-(파이어폭스) */
body::-webkit-scrollbar{
    /* 전체 스크롤바 크기 변경 */
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
}

body::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: rgb(190, 190, 190);
}
/*********** scrollber ***********/


/*********** header ***********/
#top{
    position: fixed;
    width: 100%;
    background-color:rgba(83, 83, 83, 0);
    box-sizing: border-box;
}

.top{
    /* 임시 높이값 */
    height: 90px;
    display: flex;
    transition: .4s ease-out;
    overflow: hidden;
}

.top.up{
    height: 0;
}

.logo{
    margin: 16px;
}

.lgtxt{
    text-align: center;
    width: 230px;
    margin-top: 7.6px;
    padding: 0 15px;
    font-size: 15px;
    font-family: 'Caveat', cursive;
}

.top .mnbtn{
    width: 45px;
    height: 45px;
    margin: 30px 20px 30px auto;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0);
}

.top .mnbtn::before{
    content: '≡';
    display: block;
    font-size: 65px;
}

.top .mnbtn:hover:before{
    color: rgb(167, 167, 167);
}


/*********** header ***********/


/*********** footer ***********/
#info{
    background-color: black;
    color: white
}

.info{
    display: flex;
    text-align: initial;
    bottom: 0;
    /* 임시 높이값 */
    height: 550px;
}


.email, .help{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.help{
    text-align: right;
    border-left: 2px solid rgb(214, 214, 214);
    box-sizing: border-box;
}

.ftlg{
    border-bottom: 1px solid #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.ex{
    padding: 38px 0 8px;
    font-size: 25px;
}

.embox{
    border: 3px solid white;
    padding: 0 23px;
    width: 61%;
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: rgb(124, 124, 124);
}

.chknn{
    display: none;
}

.chkbx{
    position: relative;
    display: inline-block;
    margin: 0 10px 0 30px;
    border: 3px solid white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.chkbx:hover{
    background-color: rgba(255, 255, 255, 0.76);
}

.chkbx::after{
    content: '✔';
    position: absolute;
    margin-left: 5px;
    line-height: 26px;
    font-size: 25px;
    color: transparent;
}

.chknn:checked+.chkbx{
    background-color: #fff;
}

.chknn:checked+.chkbx::after{
    color: black;
}

.coun{
    font-size: 20px;
    font-family: 'Cormorant', serif;
    font-weight: bold;
}

.ftbtn{
    margin: 42px 0 20px 28px;
    width: 180px;
    height: 56px;
    cursor: pointer;
}

.ftbtn:hover{
    background-color: rgb(104, 104, 104);
}

.etctxt{
    margin-top: 40px;
    border-bottom: 1px solid #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.etc li{
    margin: 28px 0;
    font-size: 25px;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    text-decoration: underline;
}

.etc a{
    color: #fff;
}

.etc a:hover{
    color: rgb(167, 167, 167);
}

.ver{
    margin-top: auto;
    border-top: 1px solid #fff;
    padding: 12px 15px;
    font-size: 15px;
    font-family: 'Cormorant', serif;
}
/*********** footer ***********/


/*********** menu ***********/
.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 0;
    background: url("../img/menu-bg.jpg");
    color: white;
    overflow: hidden;
}

.mntop{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    margin-bottom: 130px;
}

.cnbtn{
    font-size: 30px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.cnbtn:hover, .mntxt:hover{
    color: rgb(167, 167, 167);
}

.mnex{
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    border-top: 1px solid white;
    font-size: 25px;
}

.mntxt{
    padding: 35px 0 70px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    color: white;
}

.mnver{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.mnver1, .mnver2{
    padding: 20px 30px;
    font-size: 13px;
    
}
/*********** menu ***********/

