@charset "utf-8";
/* index 페이지 CSS - index.css */

/* CSS 결합 */
@import url(common.css);
@import url(core.css);
@import url(reset.css);


body *{
    outline: 1px solid red;
}

/* header 영역 */
.top{
    height: 70px;
    display: flex;
}

.logo, .lgtxt{
    text-align: center;
    line-height: 70px;
}

.top .mnbx{
    margin-left: auto;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.top .mnbx::before{
    content: '≡';
    display: block;
}

/* footer 영역 */
#info{
    background-color: black;
    color: white
}

.info{
    bottom: 0;
    height: 400px;
    display: flex;
}