@charset "utf-8";
/* main 페이지 CSS - main.css */

/* CSS 결합 */
@import url(common.css);
@import url(core.css);
@import url(reset.css);


body *{
    outline: 1px solid red;
}

/*********** 서브 페이지 ***********/
/* 비율 박스 셋팅 */
.bg1, .bg2{
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.sub1, .sub2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    /* a태그 기본값 초기화 */
    text-decoration: none;
    color: black;
}

.bg1::before, .bg2::before{
    content: '';
    display: block;
    padding-top: 52%;
}

/* 배경 사진 */
.bg1{
    background: url(/img/card-collection.png) no-repeat center 55%/90%;
}

.bg2{
    /* 임시 배경 */
    background: url(/img/card-collection.png) no-repeat center 55%/90%;
}

/* 글자 셋팅 */
.sub1 span,.sub2 span{
    font-size: 12px;
}

.sub1 p, .sub1 p{
    font-weight: bold;
}

.sub1 div, .sub2 div{
    display: inline-block;  
    padding: 10px 35px;
    border-radius: 50%;
    margin-top: 10%;
    border: #000 solid 3px;
    font-size: min(2.5vw,42.5px);
    background-color: rgba(0, 0, 0, 0.603);
}
/*********** 서브 페이지 ***********/