@charset "utf-8";
/* sub1 페이지 CSS - sub1.css */

/* CSS 결합 */
@import url(common.css);
@import url(core.css);
@import url(reset.css);


/*********** 페이지 공통 설정 ***********/
body *{
    outline: 1px solid red;
}

.mn{
    position: relative;
    margin: 180px 0;
}

.mn span{
    display: block;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.mn h2{
    font-family: 'Caveat', cursive; 
    font-size: 14rem;
    line-height: 130px;
    margin-bottom: 210px;
}

.mn p:first-of-type, .mn .maint{
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    line-height: 45.2px;
}

.mn p:nth-of-type(2){
    padding-top: 75px;
}

.mn p+p{
    margin: 0 auto;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    line-height: 25px;
    padding-bottom: 30px;
}

p>a{
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: .3s;
}

p>a:hover{
    color: rgb(202, 0, 0);
}
/*********** 페이지 공통 설정 ***********/



/*********** card house ***********/
/* 카드 파괴 */
.card_house{
    /* 가운데 정렬 */
    position: fixed ;
    top: 75vh;
    left: calc(50% - 150px);
    /* 카드 크기 */
    width: 233px;
    height: 375px;
    /* 3D 설정 */
    transform-style: preserve-3d;
    /* 입체를 잘보이게 하기 위해 약간 회전 */
    transform: rotateX(-27deg) rotateY(-45deg);
    transition: .1s;
}

.card_house div{
    /* 부모는 .card_house */
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    /* 3D 설정 */
    transform-style: preserve-3d;
    transition: 1.31s;
}

/* 카드 이미지 넣기 */
.card_house>div>div:first-child{
    background: url(../img/joker-card.png) no-repeat center/cover;
}

.card_house>div>div:last-child{
    background: url(../img/joker-card-front.png) no-repeat center/cover;
    transform: rotateY(180deg) translateZ(-1px);
}

/* 집 모양 */
.card_house>div:nth-child(1){
    transform: translateZ(246px) translateX(124px);
}
.card_house>div:nth-child(2){
    transform: translateZ(246px) translateX(-124px);
}
.card_house>div:nth-child(3){
    transform: rotateY(90deg) translateZ(246px) translateX(-124px);
}
.card_house>div:nth-child(4){
    transform: rotateY(90deg) translateZ(246px) translateX(124px);
}
.card_house>div:nth-child(5){
    transform: rotateY(180deg) translateZ(246px) translateX(-124px);
}
.card_house>div:nth-child(6){
    transform: rotateY(180deg) translateZ(246px) translateX(124px);
}
.card_house>div:nth-child(7){
    transform: rotateY(-90deg) translateZ(246px) translateX(124px);
}
.card_house>div:nth-child(8){
    transform: rotateY(-90deg) translateZ(246px) translateX(-124px);
}
.card_house>div:nth-child(9){
    transform: rotateY(-90deg) rotateX(40deg) translateZ(316px) translateY(-180px) translateX(-125px);
}
.card_house>div:nth-child(10){
    transform: rotateY(-90deg) rotateX(40deg) translateZ(316px) translateY(-180px) translateX(125px);
}
.card_house>div:nth-child(11){
    transform: rotateY(90deg) rotateX(40deg) translateZ(316px) translateY(-180px) translateX(-125px);
}
.card_house>div:nth-child(12){
    transform: rotateY(90deg) rotateX(40deg) translateZ(316px) translateY(-180px) translateX(125px);
}
/*********** card house ***********/


/*********** 인트로 텍스트 ***********/
.inttxt{
    position: fixed;
    top: 30vh;
    left: calc(50% - 555px);
    transition: .1s;
}

.inttxt span{
    display: block;
    margin-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.inttxt h2{
    line-height: 150px;
    font-family: 'Cormorant', serif;
    font-size: 22rem;
}

/*********** 인트로 텍스트 ***********/


/*********** 본문1 ***********/
.txt1{
    margin-top: 258vh;
}

.txt1 .maint{
    position: absolute;
    top: 38.4%;
    left: 49.7%;
    color: #000;
}

.txt1 .maint:last-of-type{
    position: static;
    display: inline;
    text-align: center;
}

.txt1 p+p{
    max-width: 787px;
    color: rgb(61, 61, 61);
}


/*********** 본문1 ***********/


/*********** 벽을 타는 사람  ***********/
.bgc{
    position: relative;
    right: 200%;
    width: 500%;
    height: 375vh;
    background: linear-gradient(to top,white 90%, transparent);
}

.bgc2{
    position: relative;
    right: 200%;
    width: 500%;
    height: 25vh;
    background: linear-gradient(white, transparent);
}

.wall {
    position: fixed;
    display: flex;
    top: 2200px;
    left: -8.3%;
    width: 100%;
    transition: .1s;
}

.wall>span{
    position: absolute;
    width: 26.7%;
    transition: .1s;
}

.wall img{
    width: 100%;
}

.wall span:nth-child(3)::before{
    position: absolute;
    display: block;
    content: '';
    width: 15.5%;
    height: 26%;
    top: 2.9%;
    right: 55.3%;
    background: url(../img/climber-shadow.png) no-repeat center/cover;
}

.wall span:nth-child(1){
    top: -820px;
    left: 0;
}
.wall span:nth-child(2){
    top: -615px;
    left: 22.3%;
}
.wall span:nth-child(3){
    top: -410px;
    left: 44.6%;
}
.wall span:nth-child(4){
    top: -205px;
    left: 66.9%;
}
.wall span:nth-child(5){
    left: 89.2%;
}
/*********** 벽을 타는 사람 ***********/


/*********** 본문2 ***********/
.txt2 .maint{
    display: inline;
    text-align: center;
}

.txt2 p+p{
    max-width: 726px;
    color: rgb(61, 61, 61);
}
/*********** 본문2 ***********/


/*********** 목차 ***********/
.pillar1_Bg{
    position: fixed;
    width: 6500px;
    height: 4000px;
    top: 2000px;
    right: 400px;
}

.pillar1_Bg>.borders{
    position: absolute;
}

.pillar1_Bg img{
    width: 100%;
    height: 100%;
}

.pillar1_Bg>.borders>div{
    width: 920px;
}

.pillar1_Bg>.borders>div:nth-of-type(1){
    position: absolute;
    top: -212px;
    z-index: 1;
}

.pillar1_Bg>.borders>div:nth-of-type(2){
    position: absolute;
    height: 1360px;
}

.pillar1_Bg>.borders>div:nth-of-type(3){
    position: absolute;
    top: 1300px;
    width: 1481px;
}

.pillar1_Bg>.borders:nth-of-type(1){
    position: absolute;
    right: 920px;
}

.pillar1_Bg>.borders:nth-of-type(1)::before{
    position: absolute;
    display: block;
    content: '';
    top: -212px;
    width: 920px;
    height: 440px;
    background: url(../img/class-1.png) no-repeat center/cover;
    z-index:2;
}

.pillar1_Bg>.borders:nth-of-type(2){
    position: absolute;
    top: 600px;
    right: 1800px;
}

.pillar1_Bg>.borders:nth-of-type(2)::before{
    position: absolute;
    display: block;
    content: '';
    top: -212px;
    width: 920px;
    height: 440px;
    background: url(../img/class-2.png) no-repeat center/cover;
    z-index:2;
}

.pillar1_Bg>.borders:nth-of-type(3){
    position: absolute;
    top: 1150px;
    right: 2680px;    
}

.pillar1_Bg>.borders:nth-of-type(3)::before{
    position: absolute;
    display: block;
    content: '';
    top: -212px;
    width: 920px;
    height: 440px;
    background: url(../img/class-3.png) no-repeat center/cover;
    z-index:2;
}

.pillar1_Bg>.borders:nth-of-type(4){
    position: absolute;
    top: 1700px;
    right: 3560px;
}

.pillar1_Bg>.borders:nth-of-type(4)::before{
    position: absolute;
    display: block;
    content: '';
    top: -212px;
    width: 920px;
    height: 440px;
    background: url(../img/class-4.png) no-repeat center/cover;
    z-index:2;
}

.pillar1_Bg>.borders:nth-of-type(5){
    position: absolute;
    top: 2250px;
    right: 4440px;
}

.pillar1_Bg>.borders:nth-of-type(5)::before{
    position: absolute;
    display: block;
    content: '';
    top: -212px;
    width: 920px;
    height: 440px;
    background: url(../img/class-5.png) no-repeat center/cover;
    z-index:2;
}

.pvlinemn{
    position: absolute;
    width: 400px;
    top: 3425px;
    right: 4100px;
}

.pvlines{
    position: absolute;
    top: 3400px;
    right: 5800px;
}

.pvlines>div:nth-of-type(1){
    position: absolute;
    width: 1100px;
}

.pvlines>div:nth-of-type(2){
    position: absolute;
    width: 1100px;
    top: -135px;
    left: -82px;
}

.pvlines>div:nth-of-type(3){
    position: absolute;
    width: 1100px;
    top: -295px;
    left: -234px;
}
/*********** 목차 ***********/


/*********** 본문3 ***********/
.txt3{
    margin-top: 5000px;
}
/*********** 본문3 ***********/


/*********** 책계단 ***********/
/*********** 책계단 ***********/


/*********** 주택 승천 ***********/
/*********** 주택 승천 ***********/


/*********** 카드 스크린 ***********/
/*********** 카드 스크린 ***********/


/*********** 간판 돌진 ***********/
/*********** 간판 돌진 ***********/





